

.articleTitle{
  text-decoration: none; 
  color: black;  
  font-family: 'Lato', sans-serif;

}

.articleTitle:hover {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

a:hover{
  text-decoration: none;
}

.articleExcerpt {
  text-decoration: none; 
  color: black; 
  font-family: 'Lato', sans-serif;
  font-size: 13pt;

}

.post-content img{
  max-width: 100%;;
  height: auto;
  margin-bottom: 40px;
}

.blog-image{
	max-height: 80%;
}
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}

.blogs-container{
	margin: 20px;
}

.post-main-image{
  width:100%;
}

.post-content{
  margin-bottom: 70px;
}

.post-content p{
  font-family:  'Libre Baskerville', Georgia, serif;;
  font-size: 20px;
  line-height: 1.5;
}

.post-content h4{
  font-family:  'Libre Baskerville', Georgia, serif;;
  font-size: 40px;
  line-height: 1.5;
  padding-top: 20px;
}

.post-content figcaption{
  padding: 0px;
  font-style: italic;
}

.post-content img{
  margin-bottom: 20px;
}

.post-title{
  font-family: 'Libre Baskerville', Georgia, serif;
  padding: 30px 30px 30px 0px;
  text-align: left;
  font-size: 50px;
}

.post-share{
  background: rgba(0,0,0,0.1);
  margin:0;
  padding: 10px 0 10px 0;
}

.post-share-text{
  font-size: 20px;
}

.category-name{
  text-align: center;
  margin-bottom: 30px;
}
